#container{
    /* border: 1px solid black; */
    height: 63vw;
    width: 100%;
    display: flex;
}


#left{
/* border: 1px solid red; */
height:61vw;
width:48%;
margin-top:2vw ;
margin-left: 1vw;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto;
gap:15px;
}

#right{
    /* border:1px solid purple; */
    height: 61vw;
    width: 48%;
    margin-left: 2vw;
    margin-top:2vw;
    
}

.leftdiv{
    /* border:1px solid blue; */
     height:30vw



}

#rating{
    border:1px solid grey;
    height:2vw;
    width:10vw;
    margin-left: 10px;
}

#minipara{
    font-weight: bold;
    font-size: 20px;
    margin-left:9px;
    
}

p{
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;

}

h3{

    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    margin-top: -0.9;
}

h2{
    margin-left: 10px;

}

#mindiv{
    /* border:1px solid red; */
    height: 90px;
    width: auto;
    display: flex;
    /* padding-top: 0px; */
    
}



.mindiv{

    height: 55px;
    border:1px solid black;
    width: 80px;
    border-radius: 50px;
    font-size: 30px;
    margin-left: 0.5vw;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    
    

}

.min:hover{
    background-color:grey;
}





#bag{
    height: 100px;
    width: auto;
    /* border:1px solid rgb(43, 92, 43); */
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    margin-right: 2vw;
    display: flex;

}

.bag{
    border:1px solid black;
    height:3.5vw;
    width: 21vw;
    margin: auto;
    font-size: 40px;
    text-align:center;
    margin-top: 0.5vw;
    background-color: red;
    color:white;
}


#wish{
    border:1px solid black;
    height:3.5vw;
    width: 21vw;
    margin: auto;
    font-size: 40px;
    text-align:center;
    margin-top: 0.5vw;
    background-color: white;
    color:black;
}
#input{
    text-align: center;
    margin-left: 0.6vw;
    height:40px;
    font-size: 20px;
    
}

.p{
    font-size: 25px;
    margin-top:1px;
    margin-left:20px
}

h4{
    font-weight: bold;
    font-size: 25px;
    color:red;
    margin-left: 0.5vw;
    margin-top:-0.9vw

}
img{
    height: 29.99vw;
    width:23.12vw
}
img:hover{
    background-color: aqua;
}
#span{
    text-decoration: line-through;
    color:grey;
    margin-left: 10px;
}
