#main{
    /* border: 2px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 30%;
    margin: auto;
    text-align: left;
    height: 500px;
    margin-top: 150px;
}
img{
    width: 100%;
}
#under_main{
    padding-left: 5%;
}
#inp_sub{
    cursor: pointer;
    background-color: #ff3f6c;
    text-align: center;
    padding: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 90%;
    border: none;

}
#inp_num,#inp_pwd{
    width: 90%;
    height: 50px;
    border: 1px solid #d4d5d9;
    margin-top: 10px;

}
.color{
    color: #ff3f6c;
}
#title_txt{
    display: flex;
    gap: 10px;
    
    
}
.p1{
    margin-top: 28px;
    
}