h1{
    margin-left: 50px;

    margin-top: 60px;
    margin-bottom: 40px;
}

img:hover{
    cursor: pointer;
}


#imgoff{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
}
#imgoffsize{
  width: 100%;
  height: 300px;
}
#dealsonbrands{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,500px);
    justify-content: space-around;
    /* margin-top: 60px; */
   

}
#dealsonbrandssize{
    height: 500px;
    width: 400px;
}
#catoffbag{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* justify-content: space-between; */
    gap: 30px;
    margin-left: 30px;
}
#catoffbagsize{
    height: 250px;
    width: auto;

}
#topbrands{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}
#topbrandssize{
    height: 450px;
    width: 100%;
}
#MyntraLux{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* justify-content: space-around; */
    gap: 30px;
    padding: 20px;
}
#MyntraLuxsize{
    height: 400px;
    width: 100%;
    /* padding: 20px; */
}
#indianwear{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    padding: 20px;

}
#indianwearsize{
    height: 400px;
    width: 100%;
}
#sports{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    padding: 20px;

}
#sportssize{
    height: 400px;
    width: 100%;
}
#foot{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    padding: 20px;

}
#footsize{
    height: 400px;
    width: 100%;
}
#Assessorie{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    padding: 20px;

}
#Assessoriesize{
    height: 400px;
    /* width: 100%; */
}
.div{
 
    justify-content: center;

    padding-left: 170px;
    
  }

.container{
    height: 100%;
    width: 80%;
    /* background-color: aliceblue; */
    display: flex;
    gap: 30px;
    padding: 40px;
    justify-content: space-evenly;


  }
  #supdivred{
    background-color: red;
    border-radius: 5px;
    width: 30px;
    margin-left: 10px;
  }
  #apps{
    display: flex;
  }
  .playstore>img{
    height: 50px;
    width: 120px;
  }
  #keepintouch{
    display: flex;

  }
  .socialmedia>img{
  
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
  .org{
    display: flex;
  }
  .image>img{
    height: 70px;
  }
  #usefullinks,p{
    margin: 2px;
    padding: -10px;
  }
  .HEADBOLD{

   margin-bottom: 20px;
  }

  .oo{
    padding: 0px;
    margin: 0px;
    height: 100%;
    /* background-color: aquamarine; */

    width: 80%;
    /* background-color: #228B22; */
    
  }
  .o{
    height: 100%;
    width: 80%;
    /* background-color: aquamarine; */
    margin-top: -50px;
    margin-left: 40px;
  }
 .o>p{
   cursor: pointer;
 }
 #contact:hover{

  text-decoration: underline;
  cursor: pointer;
 }

  #afterline {
    font-family: sans-serif;
    /* margin: 100px auto; */
    /* color: #228B22; */
    /* text-align: center; */
    /* font-size: 30px; */
    max-width: 600px;
    position: relative;
  }
  #afterline:after {
    content: "";
    display:block;
    width: 820px;
    height: 1px;
    background: #000000;
    position:absolute;
    left: 0;
    bottom: 65%;
    /* top: 70%; */
    
    margin-left:200px;
    /* margin-left: -50%;
    bottom: 50%; */
  }

  #theend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 80%;
    padding-left: 40px;
    /* margin-top: 100px; */
  }
