body {
    padding: 0px;
    margin: 0px;
  }
  #nav {
    height: 60px;
    display: flex;
    gap: 25px;
    align-items: center;
    text-decoration: none;
  }
  .text {
    text-decoration: none;
    color: black;
    width: auto;
  }
  input {
    background-color: rgb(229, 241, 241);
    height: 30px;
    width: 450px;
  }
  sup {
    color: red;
  }
  #input-group {
    border-radius: 5px;
    border-color: white;

    border: none;
    background-color: rgb(253, 244, 244);
    resize: none;
    outline: none;
  }
  #myntralogo {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
  }
  .profile{
    cursor: pointer;
  }
  .profile img {
    height: 22px;
    margin-bottom: -20px;
    margin-top: 10px;
  }
  .profile p {
    /* height: 10px; */
    font-size: 15px;
    margin-top: 18px;
  }
  .logali {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  #logid{
    margin-bottom: -17px;
    margin-top: 10px;
  }

  .has-search .form-control {
    padding-left: 2.375rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    /* pointer-events:; */
    cursor: pointer;
    color: #aaa;
  }
  #searchlogo{
    height: 18px;
    width: 20px;
    margin-left: 10px;
  }
/* 
  input[type="text"] {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
  }  */
  /* .dropdown-content a:hover {background-color: rgb(255, 255, 255);} */

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .text {background-color: #3e8e41;} */

/* .dropdown-content:hover{
  background-color: rgb(148, 98, 32);{

} */

.text {
  background-color: #fffafa;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  /* position: relative; */
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content{
  /* display: flex; */
  height:530px;
  width: 1100px;
  margin-top: 16px;
}
.maindrop{
  display: flex;
  height: 580px;

 
}
.maindrop p{
  margin-top: 10px;
}
.maindrop p:hover{
   cursor: pointer;
   font-weight: bold;

}
.maindrop h4:hover{
  cursor: pointer;

}
.drop1{
padding-left: 30px;
padding-right: 20px;
padding-bottom: 10px;
background-color: #f1f1f1;
width: 200px;
}
.drop2{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: #efeded;
  width: 200px;
}
h4{
  color: red;
}
*{
  font-family: sans-serif;
}
.left{
  left: 70px;
}
#left1{
  left: 70px;
}
#left2{
  left: 70px;
}
#left3{
  left: 70px;
}
#left4{
  left: 70px;
}
#leftpro{
  margin-top: -3px;
 width: 260px;
 padding: 20px;
  /* left: 500px; */
  right: 50px;
}
#leftpro>p:hover{
  font-weight: bold;
}

#logandsign{
  height: 30px;
  width: 150px;
  border: 0.5px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#logandsign:hover{
  border-color: red;
  border-width: 2px;
}
#wel{
  margin-bottom: -10px;
}